.wf3_footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.wf3_footer_archives_links li {
    list-style-type: none;
}

.wf3_footer_archives_links li a {
    color: royalblue;
}

.wf3_footer_lastposts_links li {
    list-style-type: none;
}

.wf3_footer_posts_links li a {
    color: royalblue;
}